/**{
    box-sizing: border-box;
}*/

header{
    height:20px;
}

h1{
    display: inline;
}

main{
    height:800px;
    background-color: rgb(70, 69, 69);

}

#container{
    height:600px;
    background-color:rgb(175, 243, 243);
    margin:100px;
    border-radius: 2px;

}

#pulsanti{
    height: 100px;
    padding-left:30px
}

#liste{
    height:300px;
    margin-top:20px;
}

li{
    list-style-type: none;
}

.simbolo-spunta{
    color:green;
    border-radius: 50%;
}

.editorial{
    background-color: rgb(64, 103, 233);
    color:white;
    border-radius:5px;
    padding:7px;
}

.q1goals{
    background-color: violet;
    color:white;
    border-radius:5px;
    padding:7px;
}
