
header{
    height:60px;
}

h1{
    display: inline;
    vertical-align:top;
}

#pulsante-colorato-sinistra{
    background-color: rgb(36, 36, 184);
    color:white;
    padding:5px;
    border: 1px solid;
    border-radius: 3px;
}

#pulsante-colorato-destra{
    background-color: white;
    padding:5px;
    border: 1px solid;
    border-radius: 3px;
}

main{
    height:800px;
    padding-top:40px;
    padding-left:120px;
    padding-right:120px;
    background-color: rgb(70, 69, 69);
}

#container{
    height:650px;
    background-color:rgb(175, 243, 243);
    border:1px solid white;
    border-radius: 5px;
    padding:50px;
}

#pulsanti{
    height: 30px;
    padding-left:20px;
    border-bottom: 2px solid lightgrey;
}

#liste{
    height:300px;
    padding:20px;
}

.elenco-liste{
    padding-left:0;
}

ul{
    padding:0px;
}

li{
    list-style-type: none;
    padding:15px;
}

.simbolo-spunta{
    color:green;
    border:1px solid green;
    border-radius: 50%;
}

.simbolo-croce{
    color:red;
    border:1px solid red;
    border-radius: 50%;
}


.editorial{
    background-color: rgb(64, 103, 233);
    color:white;
    border:1px solid;
    border-radius:5px;
    padding:3px;
}

.q1goals{
    background-color: violet;
    color:white;
    border:1px solid;
    border-radius:5px;
    padding:3px;
}

.mobile{
    background-color:orange;
    color:white;
    border:1px solid;
    border-radius:3px;
}

.website{
    background-color:rgb(226, 43, 226);
    color:white;
    border:1px solid;
    border-radius:3px;
}

.sales{
    background-color:rgb(163, 218, 13);
    color:white;
    border:1px solid;
    border-radius:3px;
}
